<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A Progressive Web App generate from using CyanPrint, version 5">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#3367D6"/> <!---->
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>

<noscript>
    Please enable Javascript Execution or use as browser with this feature for this webapp to load.
</noscript>
<div id="app"></div>
</body>
</html>